<form action="/forgot" method="post">
    Enter your email <input style="margin-bottom: 10px; width: 280px;" name="emailAddress" type="email" class="fields" placeholder="Email" required><br>
    <button type="submit">Reset</button>
</form>